*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article, section, aside, hgroup, nav, header, footer, figure, figcaption {
  display: block;
}

body{
    background:#eee;    
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.containerCSS {
  margin: 0 auto;
  max-width: 48rem;
  width: 90%;
}

.header{
  background: #c7c4c4;
  border-radius: 10px;
  margin-bottom: 2px;
  text-align: center;
  font-size: 46px;
}

nav{
  background: rgb(238, 238, 240);
  border: 1px solid #aaaaaa;
  border-radius: 10px   
}

ul, ol {
  margin-left: 0;
  padding-left: 0;
}

ul:li{
  list-style-type: square;      
  margin-left: 1em;
}

.rss {
  margin: 5px 5px 0 5px;
  padding: 0;
  width: 100%;
  list-style-type: none;
}
  
.rss li {
  background: #fff url("Media/list_flat.png") 0 3px no-repeat;
  margin: 0 2% 0 0;
  padding: 0 0 5px 15px;
  display: inline-block;
  width: 40%;    
}

#menu {
  margin: 0;
  padding: 0;
}

#menu li {
  padding: 0 1em 0 0;
}

a {
  text-decoration: none;
}

a:link {
  color: #0000CC;
}
  
a:visited {
  color: #6D006D;
}
  
a:focus {
  color: #CC0000;
}
  
a:hover {
  color: #CC0000;
}
  
a:active {
  color: #CC0000;
  font-style: italic;
}

table {
  width: 20%;
  margin: 0;
  background: #FFFFFF;
  border: 1px solid #333333;
  border-collapse: collapse;
}

td, th {
  border-bottom: 1px solid #333333;
  padding: 6px 16px;
  text-align: left;
}

th {
    background: #EEEEEE;
}

caption {
  background: #E0E0E0;
  margin: 0;
  border: 1px solid #333333;
  border-bottom: none;
  padding: 6px 16px;
  font-weight: bold;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;   
  text-align: center;
  background: rgb(238, 238, 240);
  font-size: 10px;
}

.sidebar{
  background: rgb(238, 238, 240);
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  font-size: 10px;
}

.content{
  text-align: left;
  font-size: 14px;  
}

.navigation{
  font-size: 12px;
}

.number{
  text-align: right;
}