body{
    background:#ccc;
    color:#000;
    font-family: helvetica, arial, sans-serif;
  }

  ol li{
      list-style-type: square;
  }

  a:link {
    color: #0000CC;
  }
  
  a:visited {
    color: #6D006D;
  }
  
  a:focus {
    color: #CC0000;
  }
  
  a:hover {
    color: #CC0000;
  }
  
  a:active {
    color: #CC0000;
    font-style: italic;
  }

  table {
    width: 30%;
    margin: 0;
    background: #FFFFFF;
    border: 1px solid #333333;
    border-collapse: collapse;
}

td, th {
    border-bottom: 1px solid #333333;
    padding: 6px 16px;
    text-align: left;
}

th {
    background: #EEEEEE;
}

caption {
    background: #E0E0E0;
    margin: 0;
    border: 1px solid #333333;
    border-bottom: none;
    padding: 6px 16px;
    font-weight: bold;
}

#signupform fieldset {width:40%;}
#signupform li {margin:10px; list-style: none;}
#signupform input  {margin-left:45px; text-align: left;}
#signupform textarea {margin-left:10px; text-align: left;}

.header{
  text-align: center;
  font-size: 46px;
}

.footer{
  text-align: right;
  font-size: 10px
}

.content{
  text-align: left;
  font-size: 14;  
}

.navigation{
  font-size: 12;
}